<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055156462760-mtp5ofs7ihat0uu5r0jh4vur3qbd9e9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055156462760-mtp5ofs7ihat0uu5r0jh4vur3qbd9e9m</string>
	<key>API_KEY</key>
	<string>AIzaSyCCI0FVKbChxp61nhno9LEhxVfFrYBcnUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1055156462760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateuszsarnowski.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-eebca</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-eebca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055156462760:ios:462f6abd6f1937b9480e9d</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-eebca.firebaseio.com</string>
</dict>
</plist>